div.exercise p {
  margin-left: 20px;
  display: inline-block;
}

div.exercise p:empty {
  display: none;
}

div.question {
  display: inline-block;
}

div.answer {
  display: none;
  padding-left: 2rem;
}

/* https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-another-element#5210074 */
div:hover + div.answer {
  display: inline-block;
}

/* For safari compatibility */
.color-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: -6px; /* center on track */
  cursor: pointer;
}

.color-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #ddd;
  border-radius: 999px;
}
