div.question {
  display: inline-block;
}

div.answer {
  display: none;
  padding-left: 2rem;
}

/* https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-another-element#5210074 */
div:hover + div.answer {
  display: inline-block;
}
